primer_paso:
    pattern:  /inicio
    defaults: { _controller: UsersBundle:Default:inicio }

inmuebles:
    pattern:  /inmuebles
    defaults: { _controller: UsersBundle:Default:listaInmuebles }

usuarios:
    pattern:  /usuarios
    defaults: { _controller: UsersBundle:Default:listaUsuarios }

inmuebles_usuarios:
    pattern:  /inmuebles/{inmueble_id}
    defaults: { _controller: UsersBundle:Default:listaUsuariosInmueble }
    requirements:
        inmueble_id: \d+

usuarios_inmuebles:
    pattern:  /usuarios/{usuario_id}
    defaults: { _controller: UsersBundle:Default:listaInmueblesUsuario }
    requirements:
        inmueble_id: \d+
