# UsersBundle_homepage:
#     pattern:  /hello/{name}
#     defaults: { _controller: UsersBundle:Default:index }

inmuebles:
    pattern:  /inmuebles
    defaults: { _controller: UsersBundle:Default:listaInmuebles }
